.smaller-text,
.assistance-programs {
    font-size: 0.75em;
    line-height: 1.25em;
}

.ami-table .list-grid-link {
    width: 300px;
}

.ami-table .w-row {
    width: 100%;
}

.ami-table .w-col:first-child {
    text-align: center;
}

.assistance-programs div {
    display: inline;
}

.assistance-programs .w-dyn-item:not(:last-child)::after {
    content: ', ';
}