.form-requirements .w-richtext p {
    margin-bottom: 12px;
}
.form-requirements .w-richtext p + ul {
    margin-top: -6px;
}
.translator {
    width: 166px;
    margin-left: 10px;
}
.goog-te-combo {
    width: 100%;
    padding: 2px 6px;
}

.smaller-text,
.assistance-programs:not(ul) {
    font-size: 0.75em;
    line-height: 1.25em;
}

.ami-table .list-grid-link {
    width: 260px;
}

.ami-table .w-row {
    width: 100%;
}

.ami-table .list-grid-link {
    padding: 6px 0;
}

.ami-table .w-col {
    padding: 0 6px;
}

.ami-table .w-col:first-child > div {
    display: inline;
}

.ami-table .w-dyn-item:first-child .w-row {
    display: flex;
    font-weight: 700;
}

.ami-table .w-dyn-item:first-child {
    text-align: center;
}

.ami-table .w-dyn-item:first-child .w-col:not(:first-child) {
    display: flex;
    align-items: flex-end;
}

.assistance-programs {
    padding-left: 20px;
}

.assistance-programs div {
    display: inline;
}

.assistance-programs .w-dyn-item:not(:last-child)::after {
    content: '; ';
}

.listing-with-or > li {
    position: relative;
}

.listing-with-or > li:last-child {
    margin-top: 20px;
}

.listing-with-or > li:last-child::before {
    content: 'or';
    position: absolute;
    left: -20px;
    top: -23px;
}

.footer-links li {
    width: 100%;
    display: block;
    padding: 5px 0;
}

.checklist > li {
    display: flex;
    padding: 6px;
}

.checklist > li::before {
    content: url(https://assets-global.website-files.com/5eadccf5b41a940441b59627/5eadccf529a4a689a69045e6_icon-check-small.svg);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #da4167;
    margin-right: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 4px;
}

.fixed-top + .section {
    padding-top: 176px;
}

.fixed-top + .section.increased-padding {
    padding-top: 206px;
}

.condition-row {
    display: flex;
}

.condition-numbering {
    flex-basis: 40px;
}

.condition-numbering::after {
    content: ')';
}

.condition {
    flex-shrink: 10;
}

.link-block.link-on-dark.w--current {
    color: #23a888;
}

.icon-horizontal.list-vertical-item img[src$=".svg"] {
    width: 36px;
}

.pac-container {
    z-index: 10000;
}

#location-checker-message {
    opacity: 0;
    transition: 200ms opacity linear;
}

#location-checker-message.show-message {
    opacity: 1;
}

#location-checker-message.show {
    opacity: 1;
}

#address-checker input[type=submit][data-disabled=true] {
    background: transparent;
    border-color: #23a888;
    color: #23a888;
    opacity: 0.5;
    cursor: default;
}

#address-checker input[type=submit][data-disabled=true][value="Yes"] {
    background: white;
    opacity: 1;
}

#address-checker input[type=submit][data-disabled=true][value="No"] {
    background: white;
    color: #da4167;
    border-color: #da4167;
    opacity: 1;
}

.footer-links a {
    display: block;
    width: 100%;
}

.confirmation-number::after {
    content: attr(data-confirm);
}